@charset "utf-8";
/* CSS Document */

<style>

    <h1></h1>
    <h2></h2>
    <h3></h3>
    
    lsg {
      font-size: 150px;
    }
    sg {
      font-size: 30px;
    }
    ssg {
	font-size: 20px;
    }


    .j {
      text-indent: 10em;
    }
    .k {text-indent: -2em;
    }
  

    sh {
	text-shadow: 3px 1px #3399cc;
	font-size: 150%;
}



    pi {color: pink;}
    gr {color: green;}
    bl {color: blue;}
    sk {color: skyblue;}
    yl {color: yellow;}
    pu {color: navajowhite;}
    ds {color: deepskyblue;}


  button {
    margin: 20px;
  }

header .logo{position: absolute; right: 35px; top: 75px;}
header .logo img{width: 100px;}


{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
	background-image:
	font-weight: 300;
	font-weight: 700;
	background-image: url("image/cover/background cover.jpg");
	background-position: 100% 100%;
	background-repeat: no-repeat;
	font-size: large;
	text-align: left;
	text-shadow: 0px 0px;
	font-style: Cursive;
}


.container{
	position: absolute;
	left: 10%;
	top:  100%;
	transform: translate(-50%, -50%);
	perspective: 150px;
	
}

.flip-btn{
	width: 150px;
	height: 70px;
	color: white;
	text-align: center;
	line-height: 100px;
	transform-style: preserve-3d;
	transition: .5s;
	cursor: pointer;
	
}

.flip-btn:hover{
	transform: rotateX(-90deg);
}
.front{
	background-color: hotpink;
	height: 100px;
	transform: translateZ(50px);
}

.back{
	background-color: deeppink;
	height: 100px;
	transform: rotateX(90deg) translateZ(150px); 
}




</style>
body {
}
